body{
    background-color: white;
    margin: 0;
}

img{
    width: 300px;
}

a{
    text-decoration: none;
}


.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid beige ;
    width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgb(243, 243, 227);
    transition: transform 0.3s; 
    margin: auto;
}

.card:hover{
    transform: scale(0.9);
}